@font-face {
    font-family: 'atari_font_full_versionRg';
    src: url('assets/atari_full-webfont.woff2') format('woff2'),
    url('assets/atari_full-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#board {
    position: relative;
    width: 400px;
    height: 400px;
}

#board-table {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 0;
}

#board-canvas {
    position: absolute;
    top: 22px;
    left: 24px;
    z-index: 1;
}

h1, h2, a {
    font-family: 'atari_font_full_versionRg', sans-serif;
    font-weight: normal;
    font-style: normal;
    user-select: none;
}

.peg {
    stroke: #793F0D;
    stroke-width: 2;
    fill: #AC703D;
    cursor: pointer;
}

.selected {
    stroke: #E7B3D5;
    stroke-width: 2;
    fill: #DFD27C;
    cursor: pointer;
}

.empty {
    stroke: #141414;
    stroke-width: 2;
    fill: #2F4F4F;
    cursor: pointer;
}