.peg {
    stroke: #793F0D;
    stroke-width: 2;
    fill: #AC703D;
    cursor: pointer;
    r: 20;
}

.selected {
    stroke: #E7B3D5;
    stroke-width: 2;
    fill: #DFD27C;
    cursor: pointer;
    r: 20;
}

.empty {
    stroke: #141414;
    stroke-width: 2;
    fill: #2F4F4F;
    cursor: pointer;
    r: 20;
}

h1, h2, h3 {
    user-select: none;
}